[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aws-xray-sdk = "*"
boto3 = "*"
eventbrite = "*"
jsonschema = "*"
jsonpointer = "*"
meetup-api = "*"
pygithub = "*"
python-json-logger = "*"
requests = "*"
mock = "*"

[dev-packages]
pytest = "==4.0.1"
pytest-black = "*"
pytest-cov = "*"
pytest-flakes = "*"
pytest-mccabe = "*"
"pytest-pep8" = "*"
pytest-pythonpath = "*"
pytest-responses = "*"

[requires]
python_version = "3.7"
